.carousel {
    position: relative;
}

.slides {
    position: relative;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.slides__item {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    transition: opacity 1s;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.active {
    opacity: 1;
    z-index: 2;
}


.slides__item:nth-of-type(1) {
    background-image: url(../img/slide1.jpg);
}

.slides__item:nth-of-type(2) {
    background-image: url(../img/slide2.jpg);
}

.slides__item:nth-of-type(3) {
    background-image: url(../img/slide3.jpg);
}

.slides__item:nth-of-type(4) {
    background-image: url(../img/slide4.jpg);
}

.slides__item:nth-of-type(5) {
    background-image: url(../img/slide5.jpg);
}

.indicators__item.active {
    border-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.6) ;
}

.indicators__item {
    height: 18px;
    width: 18px;
    margin: 10px;
    border: 3px solid #b3b2b2;
    box-shadow: 0px 0px 5px 2px rgba(179, 178, 178, 0.4) ;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s;

}


.indicators {
    position: absolute;
    bottom: 5%;
    padding: 0;
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 4;
}

.controls__pause {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10em;
    z-index: 3;

}

.controls__pause i {
    opacity: 0.1;
    color:  #c9c3c3;
    cursor: pointer;
    transition: all 1s;
}

.controls__pause i:hover,
.controls__pause i:focus {
    opacity: 0.6;
    color: #ffffff;
    text-shadow: 0 0 10px #ffffff;
}


.controls__nav {
    position: absolute;
    top: 0;
    height: 100%;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
    font-size: 50px;
    color:  #c9c3c3;
    transition: all 0.5s;
    cursor: pointer;
}



.controls__prev {
    left: 0;
}

.controls__next {
    right: 0;
    
}

.controls__nav:hover,
.controls__nav:focus {
    color: #ffffff;
    text-shadow: 0 0 10px #ffffff;
}

.controls__prev:hover,
.controls__prev:focus {
    background: linear-gradient( to right, rgba(0, 0, 0, 0.7) 0, transparent 100%);
}


.controls__next:hover, 
.controls__next:focus {
    background: linear-gradient( to left, rgba(0, 0, 0, 0.7) 0, transparent 100%);
}